.booking-form {
  background: #ffffff;
  width: 30%;  /* Utiliser 100% de la largeur */
  max-width: 1200px;  /* Limiter la largeur maximale pour une meilleure mise en page */
  margin: 200px auto;  /* Centrer horizontalement et ajouter une marge au sommet */
  padding: 60px;  /* Augmenter le padding pour plus d'espace autour du formulaire */
  border-radius: 20px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
  font-family: 'Arial', sans-serif;
  text-align: center;
  border: 1px solid #ddd;
}

.booking-form h2 {
  color: #333;
  margin-bottom: 30px;
  font-size: 36px;  /* Taille du titre */
  font-weight: bold;
  text-transform: uppercase;
}

.form-group {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-weight: normal;
  margin-bottom: 15px;
  color: #444;
  font-size: 18px;
}

input,
select {
  width: 90%;  /* Largeur ajustée pour occuper la majorité de l'espace */
  padding: 15px;
  font-size: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
  transition: all 0.3s ease;
  margin-bottom: 20px;
  text-align: center;
  box-sizing: border-box;
}

input:focus,
select:focus {
  border-color: #3498db;
  outline: none;
  box-shadow: 0 0 5px rgba(94, 82, 51, 0.5);
}

.error {
  color: red;
  font-size: 16px;
  margin-top: 5px;
  font-weight: 400;
  text-align: center;
}

.btn-reserver {
  background-color: #f4a261;
  color: white;
  font-size: 22px;
  padding: 15px 0;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 90%;  /* Largeur ajustée pour occuper une grande partie de l'espace */
  font-weight: bold;
}

.btn-reserver:hover {
  background-color: #f57e1d;
}

@media (max-width: 768px) {
  .booking-form {
    width: 90%;  /* Prendre 90% de la largeur de l'écran sur mobile */
    padding: 30px;  /* Réduire le padding sur mobile */
  }

  .btn-reserver {
    padding: 18px 0;
    font-size: 20px;
  }

  input,
  select {
    width: 90%;  /* Largeur ajustée pour mobile */
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .booking-form {
    width: 90%;  /* Réduire un peu plus la largeur sur les petits écrans */
    padding: 20px;  /* Réduire le padding pour mobile */
  }
}
