nav {
  background-color: #f8f8f8;
  padding: 15px 5%;
  display: flex;
  justify-content: space-between; /* Assure que le logo et le menu sont espacés également */
  align-items: center; /* Centrage vertical du logo et du menu */
}

ul {
  list-style: none;
  display: flex;
  justify-content: center; /* Centrage horizontal des éléments du menu */
  align-items: center;
  gap: 30px; /* Espacement régulier entre les éléments */
  margin: 0;
  padding: 0;
}

.nav-logo {
  height: 80px; /* Taille du logo */
  width: auto;
  margin-left: 280px;
}

li {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}

a:hover {
  color: #f4a261;
}
